<html>
  <head>
    <title>Pad administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/css/admin.css">
    
    <% e.begin_block("scripts"); %>
    <script src="../static/js/jquery.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../static/js/require-kernel.js"></script>
    <script type="text/javascript" src="../socket.io/socket.io.js"></script>

    <!-- Include base packages manually (this help with debugging) -->
    <script type="text/javascript" src="../javascripts/lib/ep_etherpad-lite/static/js/ace2_common.js?callback=require.define"></script>

    <!-- Bootstrap page -->
    <script type="text/javascript">
      var clientVars = {};
      (function () {
        var pathComponents = location.pathname.split('/');
              
        // Strip 'p' and the padname from the pathname and set as baseURL
        var baseURL = pathComponents.slice(0,pathComponents.length-2).join('/') + '/';

        require.setRootURI(baseURL + "javascripts/src");
        require.setLibraryURI(baseURL + "javascripts/lib");
        require.setGlobalKeyPath("require");

        $ = jQuery = require('ep_etherpad-lite/static/js/rjquery').jQuery; // Expose jQuery #HACK

        if ((!$.browser.msie) && (!($.browser.mozilla && $.browser.version.indexOf("1.8.") == 0))) {
          document.domain = document.domain; // for comet
        }

        var plugins = require('ep_etherpad-lite/static/js/pluginfw/client_plugins');
        var hooks = require('ep_etherpad-lite/static/js/pluginfw/hooks');

        plugins.baseURL = baseURL;
        plugins.update(function () {
          hooks.plugins = plugins;

          // Call documentReady hook
          $(function() {
            hooks.aCallAll('documentReady','admin/pads');
          });
        });
      }());
    </script>
    <% e.end_block(); %>
  </head>
  <body>
    <div id="wrapper">

      <% if (errors.length) { %>
        <div class="errors">
          <% errors.forEach(function (item) { %>
            <div class="error"><%= item.toString() %></div>
          <% }) %>
        </div>
      <% } %>


      <h1>Etherpad Lite</h1>

      <div class="separator"></div>
      <div class="paged listing search-results">
        <div class="separator"></div>
        <h2>Search for pads</h2>
        <form name="search-form" id="search-form">
          <input type="text" name="search" placeholder="Search term" id="search-query">
          <input type="button" value="Search" id="do-search">
        </form>
        <table>
          <thead>
            <tr>
              <th>Padname</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="template">
            <tr>
              <td class="padname"></td>
              <td class="actions">
                <input type="button" value="Delete" class="do-delete" disabled="disabled">
             </td>
            </tr>
          </tbody>
          <tbody class="results">
          </tbody>
        </table>
        <input type="button" value="<<" class="do-prev-page">
        <span class="offset"></span>..<span class="limit"></span> of <span class="total"></span>.
        <input type="button" value=">>" class="do-next-page">
      </div>

      <div id="progress" class="dialog">
        <h1 class="title">
          Please wait: <span class="message"></span>
        <input type="button" class="close" value="Close">
        </h1>
        <div class="history"></div>
      </div>
    </div>
  </body>
  
</html>
